body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: cadetblue;
  padding: 50px;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  max-width: 360px;
  width: 100%;
  padding: 40px;
  background-color: aqua;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  height: 50px;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.5;
}
.new-priceSale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.sale {
  padding: 10px;
  background-color: red;
  border-radius: 40px;
  color: #fff;
  font-weight: 600;
}

.star {
  color: yellowgreen;
}

.old-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  gap: 5px;
}
.site-thumbnail {
  margin-left: auto;
  margin-right: auto;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: right;
}

.open-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: #fff;
  font-weight: 600;
}

@media (max-width: 450px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 250px;
    width: 100%;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    width: 250px;
  }
  .old-rating {
    display: flex;
    flex-direction: column;
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
